<!DOCTYPE HTML>
<html>
	<head>
        <title>{% if page.title %}{{ page.title}} - {% endif %}Jan Klausa nie lubi.</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="//klausa.pl/images/style.css" />
	</head>
	<body>
		<div id="content">
		<div id="logo"><a href="/index.html" title="Strona główna"></a></div>
			<div id="menu">
				<ul>
					<!--<li><a href="index.html" title="O mnie" class="o_mnie">O mnie</a></li>-->
                    <!--<li><a href="kontakt.html" title="kontakt" class="kontakt">Kontakt</a></li>-->
                    <li><a href="http://klausa.pl/index.html" title="O mnie">O mnie</a></li>
                    <li><a href="http://klausa.pl/kontakt.html" title="Kontakt">Kontakt</a></li>
                    <li><a href="http://janek.nielubi.pl" title="nielubi">Janek nie lubi</a></li>
				</ul>
			</div>
            <div id="tresc">
                <h1>{{ page.header }}</h1>
                {{ content }} 
            </div>
            <div id="footer">Wszystkie prawa yadda yadda bla bla. Jan Klausa. blog jest częścią <a href="http://nielubi.pl">nielubi.pl</a>.</div>
		</div>
	</body>
</html> 
